<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5">プロフィール</h1>
        <div class="row">
          <div class="col-4">
            <%= image_tag current_user.avatar_url, class: 'rounded-circle', size: '200x200' %>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-4">
                <%= t(User.human_attribute_name(:name)) %>
                <%= current_user.name %>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <%= t(User.human_attribute_name(:email)) %>
                <%= current_user.email %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <%= t(User.human_attribute_name(:bio)) %>
          <div class="border bio">
            <%= current_user.bio %>
          </div>
        </div>
      <div > 
        <%= link_to t('.button'), edit_profile_path, class: 'btn btn-success float-end' %>
      </div>
    </div>
  </div>
</div>