<% post.comments.each do |comment| %>
  <% if !comment.parent_id %>
  <div class="card mb-5" id="comment-<%= comment.id %>">
    <div class="card-header d-flex justify-content-between align-items-center">
      <%= image_tag comment.user.avatar.url, width: '50', height: '50'  %>
      <div class="col">
        <ul class="list-inline">
          <li><i class="bi bi-person"></i><%= comment.user.name %></li>
          <li><i class="bi bi-calendar"></i><%= l comment.created_at, format: :short %></li>
        </ul>
      </div>
      <% if current_user&.own?(comment) %>
        <div class="text-end">
          <%= link_to edit_post_comment_path(comment.post, comment), class: 'edit-comment-link' do %>
            <div class="btn btn-success btn-sm">編集</div>
          <% end %>
          <%= link_to '削除',
                      post_comment_path(comment.post, comment),
                      class: 'btn btn-danger btn-sm',
                      data: { turbo_method: :delete, 
                      turbo_confirm: t('posts.delete.comfirm') }  %>
        </div>
      <% end %>
    </div>
    <div class="card-body mb-1">
      <%= simple_format(comment.body) %>
      <%= image_tag comment.comment_image.url, width: '100' if comment.comment_image.present? %>
    </div>
    <div class="card-footer">
      <%= link_to new_post_comment_path(post, comment, parent_id: comment.id), class: 'reply-comment-link' do %>
        <div class="btn btn-success btn-sm float-end">返信する</div>
      <% end %>
    </div>
  <% end %>

    <% if comment.replies.any?%>
      <% comment.replies.each do |reply| %>

          <%= render partial: 'comments/reply', locals: { reply: reply } %>
      
      <% end %>
    <% end %>

  </div>

  <% end %>