<div class="col-10 mb-4">
  <div id="post-id-<%= post.id %>">
    <div class='card mb-3'>
      <div class="card-header d-flex">
        <%= image_tag post.user.avatar.url, class: 'post_index_image' %>
        <div class="col-2">
          <ul class="list-inline">
            <li><i class="bi bi-person"></i><%= post.user.name %></li>
            <li><i class="bi bi-calendar"></i><%= l post.created_at, format: :short %></li>
          </ul>
        </div>
        <div class="col-2">
          <% if post.question? %>
            <span class="post_type_question"><%= post.post_type_i18n %></span>
          <% else %>
            <span class="post_type_tweet"><%= post.post_type_i18n %></span>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <%= post.body %>
      </div>
      <div class="card-footer">
        <% if post.tags.present? %> 
          <% post.tags.each do |tag| %>
            <%= link_to tag.name, posts_path(tag_id: tag.id), class: "badge rounded-pill bg-primary text-decoration-none text-white" %>
          <% end %>
        <% end %>
      </div>
        <%= link_to post_path(post), class: 'stretched-link text-decoration-none link-dark' do %>
        <% end %>
    </div>
  </div>
</div>
